# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: <br>
    1.python <br>
    2.r <br>
    3.sql<br>

Some of the commonly used libraries used by Data Scientists include: <br>
    1.numpy <br>
    2.pandas <br>
    3.matplotlib <br>
    4.seaborn <br>

Data Science Tools | <br>
-------------------| <br>
Rstudio | <br>
Apache Spark |<br>
Tensorflow | <br>

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
 # This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In this notebook, Data Science Tools and Ecosystem are summarized.
**Objectives:**
    <ul>
    <li> python  
    <li> R  
    <li> sql  <ul>

## Author
Erothi Alekya